@page
@model MVCWEB.Views.Collab.ProjectMainModel
<link rel="stylesheet" href="~/css/ProjectMain.css" type="text/css" />
@{
    <div class="container-1">
        <h1>Project Title</h1>
        <h3>Project Owner</h3>
        <h3>Project Status</h3>
    
    </div>
}


