@*
 
*@
@{

}

<ul class="navbar-nav flex-grow-1">
   
    @if(!User.Identity!.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
    }
</ul>
@if (!User.Identity!.IsAuthenticated)
{
    
    <div class="nav-btn">
        <a class="action-btn" asp-controller="auth" asp-action="login">Log in</a>
        <a class="btn action-btn" asp-controller="auth" asp-action="register">Sign up</a>
    </div>
}





