@*
 
*@
@{
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="about">About</a>
    </li>
</ul>
<div class="nav-btn">
    <a class="action-btn" asp-controller="auth" asp-action="login">Log in</a>
    <a class="btn action-btn"  asp-controller="auth" asp-action="register">Sign up</a>
</div>




