html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  min-height: 20px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, white 50%, transparent 100%);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% { left: -150px; }
  100% { left: 100%; }
}