
@{
    ViewData["Title"] = "Home Page";
}
<div class="sub-wrapper">
    <section class="hero">
        <div class="banner">  
        </div>
        <div class="banner-context">
            <h1>With <span class="">STUBU</span> no man is an island</h1>
            <p class="sub-title ">Stubu is a student project collaboration hub web-based platform that helps students find teammates for academic or personal projects.</p>
            <a class="btn btn-primary" asp-action="login" asp-controller="auth">Get started</a>
        </div>
    </section>
    <section class="highlights">
        
    </section>
</div>

@section Scripts {

    @* <partial name="_ValidationScriptsPartial" /> *@
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
}
