@{
    ViewData["Title"] = "Home Page";
}



<div class="card skeleton" style="width: 18rem;">
    <img src="..." class="skeleton card-img-top" alt="">
    <div class="card-body skeleton">
        <h5 class="card-title skeleton"></h5>
        <p class="card-text skeleton"></p>
        <a href="#" class="btn  skeleton"></a>
    </div>
</div>
