
@{
    ViewData["Title"] = "Home Page";
}

<h1>Wala pang design gang</h1>

@section Scripts {

    @* <partial name="_ValidationScriptsPartial" /> *@
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
}
